.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
  
  .grid-item {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .custom__button {
    cursor: pointer;
    padding: 5px;
  }